<%- include('mainTemplate'); -%>
    <ul>
        <li><strong>Author:</strong> <%= books.author %></li>
        <li><strong>Title:</strong> <%= books.title%></li>
        <li><strong>ISBN:</strong> <%= books.isbn %></li>
    </ul>
<%- include('footerTemplate'); -%>